.footer{
    bottom:0px;
    height:200px;
    background-color: #F1F1F1;
    width:100%;
}
.social{
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.text{
    text-align: center;
    font-size: larger;
}

.soci:hover{
    background-color: white;
    cursor: pointer;
    transform: scale(1.1);
}