/*.skill{
    margin: 20px;
    border: solid black;
    display: flex;
    list-style-type: none
}*/

.skill {
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    list-style-type: none;
}

.box {
    border-radius: 10%;
    color: var(--main-color);
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 0px 1px grey;
}
.skill2 {
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    list-style-type: none;
}

.box {
    padding: 20px 20px 20px 20px;
    color: var(--main-color);
}

.box:hover{
    transform: scale(1.1);
    color:var(--sub-text-color);
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 1px white;
}


span svg {
    color: var(--main-color);
}

.skill123 {
    margin: 30px;
}

.skill123 h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--main-color);
}

@media only screen and (max-width:650px){
    .skill2 {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}